
  .login-form{
  
  border:2px solid black;
  width:30%;
  margin:auto;
  padding:10px;
   background-color: #337a91;
   border-radius:5px;
   display:block-inline;
  
  }
  
 body {
    font-family: "Lato", sans-serif;
    background-color: #a7d5eb;
    margin:32px;
    }
    
    h3,h5{
    
    text-align:center;
    
    }
    
    form{
    
    margin:auto;
   
  
    
    }
    
    .fontwhite{
    color:white;
    }
    .form-group{
    
    color: black;
    width: 80%;
    margin:auto;
    padding:5px;
    
    }
    
    .was.validated{
    color: #021a18;
    margin:auto;
    
    }
    
    .btn{
    background-color:#021a18;
    border-radius:5px;
    color:white;
    
    }
    
    .btn:hover{
    
    background-color:#a7d5eb;
    color:black;
    
    }
    a
    {
    color: white;
    text-decoration: underline;
    
    }
    a:hover{
    color:black;
    
    }
    #center{
    
    text-align:center;
    padding:5px;
    
    }
    h1{
  text-align:center;
  color: #337a91;
    
    }

    .link
    {
    color:#337a91;
    font-size:20px;
    font-weight: bold;
    text-decoration: underline;
    }
    
    .link:hover{
    
    font-size: normal;
    color: white;
    text-decoration:none;
    
    }

    .nav-link{
    
    background-color: #337a91;
    color:white;
    text-decoration: none;
    }
    
    .floatright{
    
    float:right;
    
    }
    
    .modify-btn{
    
    height:26px;
    width:60px;
    padding:2px;
    font-size:12px;
    
    }
    
    .ul-ns{
    
    list-style:none;
    }
    
    .inline{
    
    display:inline;
    
    }
      .customtable{
    
    width:50%;
    background-color:#337a91;
    color:white;
    
    }
    
    .error{
    color:#800000;
    font-size:12px;
    }